/*
Author: Bonnie Souter
Author URI: http://www.zendgame.com/
*/

@import url(nav.css);
@import url(table.css);
@import url(form.css);

body {
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	color:#000000;
	background-color:#ffffff;
}
div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {
	margin:0 0 20px 0;
	padding:0 0 8px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom:1px dotted #DDDDDD;
}
.col1{
color:#666666; background-color:#E3F1F9;
}
.col2{
color:#FFFFFF; background-color:#000000;
}
.col3, .col4, .col5{
color:#666666; background-color:#FFFFFF;
}
.col6{
color:#999999; background-color:#F3F3F3;
}
.col6 a{
color:#2684B7; background-color:#F3F3F3;
}
.col7, .col7 a{
color:#FFFFFF; background-color:#29313C;
}

.left{
float:left;
}
.right{
float:right;
}
.clear {
clear: all;
}
#header{
	background-color:cyan;
	height:50px;
	minimum-width:960px;
}
.ha{
}
.hb



p.p1 { font-family:Verdana, Arial, Helvetica, sans-serif; }

.arial {
	font-family:Arial;
}

.helvetica {
	font-family:Helvetica;
}

.timesnewroman {
	font-family:"Times New Roman";
}

.times {
	font-family:Times;
}

.couriernew {
	font-family:"Courier New";
}

.courier {
	font-family:"Courier";
}

.verdana {
	font-family:Verdana;
}

.georgia {
	font-family:Georgia;
}

.comicsansms {
	font-family:"Comic Sans MS";
}

.trebuchetms{
	font-family:"Trebuchet MS";
}

.arialblack {
	font-family:"Arial Black";
}

.impact {
	font-family:Impact;
}

.palantino {
	font-family:Palantino;
}

.garamond {
	font-family:Garamond;
}

.bookman {
	font-family:Bookman;
}

.avantgarde {
	font-family:"Avant Garde";
}

